# Created by .ignore support plugin (hsz.mobi)
/target/
target/
!.mvn/wrapper/maven-wrapper.jar
/logs/
logs/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

###security###
application-oauth.properties
src/main/resources/application-oauth.properties
application-database.properties
application-real-db.properties
application-email.properties